#our-works {
    position: relative;
    border-top: 2px solid var(--text-color);
    text-align: center;
}
#our-works .title {
    font-size: 24px;
    padding: 2rem;
    font-family: 'Permanent Marker', cursive;
    margin: auto;
    background-color: var(--dark);
    border-bottom: 2px solid var(--text-color);
}
.reel-container {
    background-image: url("/public/assets/dark-bg2.jpg");
    background-repeat: none;
    background-position: center;
    background-size: cover;
    padding: 30px 0;
}
.slogan {
    max-width: 700px;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 3rem;
    margin: auto;
}
.product-card {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 30px;
}
.pro {
    position: relative;
    width: 26%;
    min-width: 250px;
    padding: 10px 12px;
    border: 2px solid var(--text-color);
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
    margin: 15px;
    transition: 0.2s ease;
    background-color: var(--mid-grey);
}
.pro:hover {
    box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
    opacity: .8;
}
.pro img {
    width: 100%;
    border-radius: 5px;
    border: 1px solid var(--text-color);
}

.des p:first-child {
    color: black;
    font-family: 'Bree Serif', serif;
    margin: 20px auto;
}
.des p:nth-child(2) {
    color: black;
    font-family: 'Indie Flower', cursive;
    margin-bottom: 60px;
}
.des p:nth-child(3) {
    position: absolute;
    background-color: black;
    padding: .7rem;
    border-radius: 10px;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    opacity: .8;
    z-index: 4;
    display: none;
}
.checkbox-btn:checked ~ .overlay {
    display: block;
}
.checkbox-btn:checked ~ .iframe {
    display: block;
}
.iframe {
    position: fixed;
    width: 90%;
    max-width: 1100px;
    height: 66%;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    border-radius: 15px;
    z-index: 5;
    display: none;
    border: 4px solid var(--text-color);
}
.showWorks-btn {
    width: 200px;
    padding: 1rem;
    border: 2px solid var(--text-color);
    border-radius: 10px;
    margin: auto;
}

.showWorks-btn:hover {
    background-color: black;
}

/* Responsive */
@media screen and (min-width: 1201px){}
@media screen and (max-width: 1024px){
    .iframe {
        height: 50%;
    }
}
@media screen and (max-width: 834px){
    .iframe {
        height: 45%;
    }
}
@media screen and (max-width: 480px){
    .iframe {
        height: 32%;
    }
}