#our-works {
    position: relative;
    border-top: 2px solid var(--text-color);
    text-align: center;
}

.reel-container {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
}

.small-list {
    display: none;
}
.our-works-title {
    background-image: url("http://www.ivang-design.com/svg-load/3.jpg");
    flex-basis: 50%;
}
.our-works-title p {
    padding: 30px 0;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}
.our-works-title ul li{
    padding: 0;
	font-size: 20px;
	margin-top: 25px;
	margin-bottom: 25px;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	line-height: 1.3;
	letter-spacing: 2px;
	color: #8e8d9a;
    -webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
    cursor: pointer;
}
.our-works-title ul li:hover {
    color: white;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    opacity: .8;
    z-index: 4;
    display: none;
}
.checkbox-btn:checked ~ .overlay {
    display: block;
}
.checkbox-btn:checked ~ .iframe {
    display: block;
}
.iframe {
    position: fixed;
    width: 90%;
    max-width: 1100px;
    height: 66%;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    border-radius: 15px;
    z-index: 5;
    display: none;
    border: 4px solid var(--text-color);
}


/* Responsive */
@media screen and (min-width: 1201px){}
@media screen and (max-width: 1024px){
    .iframe {
        height: 50%;
    }
}
@media screen and (max-width: 834px){
    .iframe {
        height: 45%;
    }
    .our-works-title {
        flex-basis: 100%;
    }
}
@media screen and (max-width: 480px){
    .iframe {
        height: 32%;
    }
    .our-works-title {
        display: none;
    }
    .small-list {
        flex-basis: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 20px 0;
    }
    .small-list div {
        background-color: black;
        width: 40px;
        height: 40px;
        border-radius: 10px;
        line-height: 40px;
    }
}

@keyframes flyOut {
    to {
        width: 300px;
        rotate: 6.2832rad;
    }
}