#intro-video {
  position: relative;
  height: 100vh;
  width: 100wh;
  overflow: hidden;
}
#myVideo {
    position: absolute;
    width: auto;
    height: auto;
    min-width: 100%; 
    min-height: 100%;
  }
  
  /* .content {
    position: absolute;
    text-align: center;
    top: 0;
    font-size: .5rem;
    opacity: 0;
    color: #f1f1f1;
    padding: 20px;
    animation: showOff 2s forwards;
    animation-timing-function: linear;
  }
  .content span {
    position: relative;
  }
  .content::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 0;
    opacity: 0;
    left: 20%;
    top: 80%;
    background-color: white;
    animation: light .5s 2s forwards;
    animation-timing-function: linear;
  } */

  #ufo {
    position: absolute;
    width: 0;
    height: fit-content;
    top: 30%;
    left: 40%;
    animation: showOff 3s forwards;
  }
  #ufo img {
    width: 100%;
    height: auto;
  }
  #myBtn {
    position: fixed;
    bottom: 15%;
    opacity: 0;
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: grey;
    color: black;
    cursor: pointer;
    animation: fadeIn 1s forwards 3.5s;
    z-index: 4;
  }
  
  #myBtn:hover {
    background: #ddd;
    color: black;
  }

  @keyframes showOff {
    to{
      top: 50%;
      width: 200px;
    }
  }
  @keyframes light {
    to {
      height: 300px;
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
  @keyframes rotateUfo {
    to {
      transform: rotate(15deg);
    }
    
  }