#intro-video {
  position: relative;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  overflow: hidden;
}
#myVideo {
  object-fit: cover;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

#ufo {
  position: absolute;
  width: 0;
  height: fit-content;
  top: 30%;
  left: 30%;
  transform: translateX(-50%) translateY(-50%);
  animation: showOff 2s forwards, loopMove 5s infinite 2s;
  animation-timing-function: linear;
}
#ufo img {
  width: 100%;
  height: auto;
}
#intro-btn {
  position: fixed;
  text-align: center;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  width: 150px;
  font-size: 18px;
  padding: 10px;
  border: 2px solid var(--text-color);
  border-radius: 10px;
  background: transparent;
  color: var(--text-color);
  cursor: pointer;
  animation: fadeIn 1s forwards 3.5s;
  z-index: 4;
}

#intro-btn:hover {
  background: #ddd;
  color: black;
}

@keyframes showOff {
  from {
    top: 30%;
    left: 30%;
  }
  to {
    top: 50%;
    left: 50%;
    rotate: 15deg;
    width: 200px;
  }
}
@keyframes light {
  to {
    height: 300px;
    opacity: 1;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes loopMove {
  0% {
    transform: translateY(-50%) translateX(-50%);
  }
  20% {
    transform: translateY(-58%) translateX(-42%);
  }
  40% {
    transform: translateY(-42%) translateX(-50%);
  }
  60% {
    transform: translateY(-58%) translateX(-50%);
  }
  80% {
    transform: translateY(-42%) translateX(-42%);
  }
  100% {
    transform: translateY(-50%) translateX(-50%);
  }
}
