.our-works-content {
    flex-basis: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.pro-thumb {
    width: 0;
    margin: 40px 0;
    border: 2px solid var(--text-color);
    border-radius: 10px;
    background-color: var(--mid-grey);
    cursor: pointer;
    transform: rotateZ(2deg);
    animation: flyOut .5s forwards;
}
.pro-thumb img {
    width: 100%;
}

.pro-detail {
    text-align: start;
    line-height: 2.5rem;
    margin-left: 30px;
    overflow: hidden;
}
.pro-detail h1, .pro-detail p, .pro-detail strong{
    transform: translateX(300%);
    font-family: 'Itim', cursive;
}
.pro-detail h1 {
    font-family: 'Pangolin', cursive;
    animation: horizonMove .3s forwards .2s;
    max-width: 320px;
}
.pro-detail p {
    font-size: 20px;
}
.pro-detail p:nth-child(2) {
    margin-top: 20px;
    animation: horizonMove .3s forwards .5s;
}
.pro-detail p:nth-child(3) {
    animation: horizonMove .3s forwards .6s;
}
.pro-detail p:nth-child(4) {
    animation: horizonMove .3s forwards .7s;
}

.pro-detail p:nth-child(5) {
    margin-bottom: 20px;
    animation: horizonMove .3s forwards .8s;
}
.watch-btn {
    background-image: url("/public/assets/aLongStrek.png");
    background-size: cover;
    background-position: center;
    font-family: 'Permanent Marker', cursive;
    width: 200px;
    opacity: 0;
    font-size: 23px;
    transform: translateY(-300%);
    margin: auto;
    text-align: center;
    cursor: pointer;
    animation: verticalMove 1s forwards .8s;
}
.watch-btn:hover{
    width: 200px;
    font-size: 25px;
}

@media screen and (max-width: 1201px){}
@media screen and (max-width: 1024px){
    .our-works-content {
        flex-basis: 65%;
    }
}
@media screen and (max-width: 834px){
    .our-works-content {
        flex-basis: 100%;
        padding: 3rem;
        background-color: rgba(0,0,0,.5);
    }

}
@media screen and (max-width: 480px){
    .our-works-content {
        padding: 20px 0;
    }
    .pro-thumb {
        margin-bottom: 20px;
    }
    .pro-detail {
        border-radius: 10px;
        background-color: rgba(0,0,0,.5);
        padding: 20px;
    }
    .pro-detail h1 {
        font-size: 25px;
    }
    .pro-detail p:nth-child(2) {
        margin-top: 0px;
    }
    .pro-detail {
        margin-left: 0;
        max-width: 300px;
    }
}
@keyframes flyOut {
    to {
        width: 300px;
        transform: rotate(6.2832rad);
    }
}